html {
	position: relative;
}

body {
	margin-bottom: 0;
	margin-top: 45px;
}

.jumbotron {
	background-image: url("../img/bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -140px;
}



.jumbotron {
	background-image: url(".../img/bg.jpg");
}

hr {
	width: 250px;
	border-top: 3px solid #999;
}

section {
	min-height: 600px;
}

/*develop*/
.portofolio {
	background-color: #eee;
}

/*login*/
.contact {
	min-height: 800px;
	margin-top: 100px;
}

/*about*/
.profile {
	width: 150px;
	height: 150px;
}

footer {
	position: absolute;
	width: 100%;
	height: 100px;
	background-color: #333;
	padding-top: 27px;
}

footer p {
	color: #999;
	font-size: 1em;
}

footer p i {
	color: salmon;
}